{
	"rules": {
		"indent": ["warn", "tab", {"SwitchCase": 1}],
		"quotes": ["warn", "single"],
		"linebreak-style": ["warn", "unix"],
		"semi": ["warn", "always"],
		"no-console": "off",
		"no-unused-vars": "warn",
		"strict": "off"
	},
	"env": {
		"es6": false,
		"browser": false,
		"node": false
	},
	"parserOptions": {
    "sourceType": "module"
  },
	"extends": "eslint:recommended",
	"globals": {

		// ae
		"PropertyValueType": true,
		"PropertyGroup": true,
		"MaskPropertyGroup": true,
		"KeyframeEase": true,

		// extend
		"app": true,
		"writeLn": true,
		"clearOutput": true,

		// scriptup
		"EditText": true,
		"DropDownList": true,
		"Window": true,

		// my
		"run": true,
		"getActiveComp": true,
		"showDialog": true,
		"getSelectedLayers": true,
		"getSelectedProperties": true
	}
}
